.bodyCatalogo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav nav "
                            "header header"
                            "tarjetas tarjetas"
                            "footer footer";
} 
